In [58]:
import pandas as pd

In [59]:
df_h=pd.read_csv('../../data/homology/csv_files/high_data_filter.csv')
df_m=pd.read_csv('../../data/homology/csv_files/medium_data_filter.csv')
df_l=pd.read_csv('../../data/homology/csv_files/low_data_filter.csv')
df=pd.read_csv('../../data/not_outliers/notout_antiviral.csv')

In [60]:
name='antiviral_homology_90'

In [61]:
df_all=pd.concat([df_h, df_m, df_l], axis=0)

In [62]:
df

,sequence,experimental_characteristics,half_life_seconds,length_sequence,target
0,AAAMSQVTN,Mammalian,15840.0,9,1
1,AACEVAKNLNESLIDLQELGKYEQYIKW,Mammalian,15840.0,28,1
2,AAGAVVNDL,Mammalian,15840.0,9,1
3,AAHLIDALYAEFLGGRVLTT,Mammalian,15840.0,20,1
4,AAHLIDALYAEFLGGRVLTTPVVHRALFYASAVLRQPFLAGVPSA,Mammalian,15840.0,45,1
...,...,...,...,...,...
1924,YVREHGVPIHADKYFEQVLK,Mammalian,10080.0,20,1
1925,YWILEYLWKVPFDFWRGV,E_coli,7200.0,18,0
1926,YWILEYLWKVPFDFWRGV,Mammalian,10080.0,18,1
1927,YWILEYLWKVPFDFWRGV,Yeast,36000.0,18,2
1928,YAGAVVNDL,E_coli,7200.0,9,0

In [63]:
concat=pd.concat([df_h, df_m, df_l], axis=0)
concat

                                 sequence
0                         HFPRIWLHSLGQHIY
1                    HGNITLGEWYNQTKDLQQKF
2                      HGQNRWPLSCPQYVYGSV
3                                   HGVHG
4                              HGVSGHGQHG
..                                    ...
433                  YQVVKQPDYLLVPEEVMEYK
434                  YRWWRWARRWYRWWRWARRW
435                             YTMLVVDDL
436  YTSLIHSLIEEAQNQQEKNEQELLELDKWASLWNWF
437                  YVREHGVPIHADKYFEQVLK

[1025 rows x 1 columns]

In [64]:
concat['sequence'].unique().shape

(623,)

In [65]:
filtered_df = df[df['sequence'].isin(df_all['sequence'])]
filtered_df

,sequence,experimental_characteristics,half_life_seconds,length_sequence,target
0,AAAMSQVTN,Mammalian,15840.0,9,1
1,AACEVAKNLNESLIDLQELGKYEQYIKW,Mammalian,15840.0,28,1
2,AAGAVVNDL,Mammalian,15840.0,9,1
4,AAHLIDALYAEFLGGRVLTTPVVHRALFYASAVLRQPFLAGVPSA,Mammalian,15840.0,45,1
5,AAKAWKKAKAWKKAKWWKKAA,Mammalian,15840.0,21,1
...,...,...,...,...,...
1924,YVREHGVPIHADKYFEQVLK,Mammalian,10080.0,20,1
1925,YWILEYLWKVPFDFWRGV,E_coli,7200.0,18,0
1926,YWILEYLWKVPFDFWRGV,Mammalian,10080.0,18,1
1927,YWILEYLWKVPFDFWRGV,Yeast,36000.0,18,2
1928,YAGAVVNDL,E_coli,7200.0,9,0

In [66]:
filtered_df.value_counts('target')

target
0    678
1    437
2    198
Name: count, dtype: int64

In [67]:
#filtered_df.to_csv("../data/all/antiviral_filtered.csv", index=False)
#filtered_df=filtered_df.filter(items=['sequence', 'experimental_characteristics', 'target'])
filtered_df.to_csv(f"../../data/{name}.csv", index=False)